@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400');

body {
  font-family: 'Source Sans Pro', sans-serif;
}

#title {
  text-align: center;
}

#title h1 {
  font-weight: 300;
  margin: 0;
  font-size: 3.2em;
}

#menuBarList {
  display: flex;
  justify-content: center;
  list-style-type: none;
}

#menuBarList li {
  margin: 0 15px;
}

#menuBarList li a {
  font-size: 15px;
  color: #34495e;
  text-decoration: none;
}

#text {
  width: 70%;
  margin: 0 auto;
}

#text h1 {
  color: #42b983;
  font-size: 1.5em;
  font-weight: 400;
}

#text p {
  margin-bottom: 10px;
}

#text a {
  font-size: 15px;
  color: #34495e;
  text-decoration: none;
}

#sidebar {
  background-color: #f6f6f6;
}